apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-blue
spec:
  replicas: {{ .Values.replicas.min }}
  selector:
    matchLabels:
      app: java-webapp
      color: blue
  template:
    metadata:
      labels:
        app: java-webapp
        color: blue
    spec:
      containers:
      - name: java-webapp
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: {{ .Values.containerPort }}
        resources:
          requests:
            cpu: {{ .Values.resources.requests.cpu }}
            memory: {{ .Values.resources.requests.memory }}
          limits:
            cpu: {{ .Values.resources.limits.cpu }}
            memory: {{ .Values.resources.limits.memory }}
